<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
<!--</div>-->
<h1>Promijeni lozinki</h1>
<div mat-dialog-content>
  <mat-form-field class = 'full-width'>
    <input matInput placeholder="Nova lozinka" (change)="change()"  [(ngModel)]='data.newPassword'>
  </mat-form-field>
  <mat-form-field class = 'full-width'>
    <input matInput placeholder="Ponovi novu lozinka" [(ngModel)]="repetePassword" [formControl]='contentFormControl'>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ne hvala</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Promijeni</button>
</div>
