.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sidebar-cover{
    height: 200px;
    position: relative;
    -webkit-filter:brightness(75%);
    -moz-filter:brightness(75%);
    filter: url(#brightness);
    filter:brightness(75%);
    /* position: relative; */
}

.userData{
  position: absolute;
  top: 50px;
  left: 25px;
  cursor: pointer;
}

.userData:hover{
  transform: scale(1.1);
}

.userData:focus{
  outline: none;
}

.username{
  padding-left: 2px;
  color: white;
  font-size: 15px;
  margin: 5px;
}

.email{
  padding-left: 2px;
  color: #cacaca;
  margin: 5px;
}

.title{
  margin: auto;
}

.sideBarItems{
  width: 100%;
  padding: 1em;
  text-align: left;
  margin: 0;
}

.content-container {
  margin-top: 80px;
  height: 100%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 479px){
  .content-container {
    width: 100%;
  }
}

@media (min-width: 1440px){
  .content-container {
    width: 1152px;
  }
}



