<mat-sidenav-container class="" *ngIf="true" style="height:100%;">

  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" style="width:240px;">
    <img class="sidebar-cover" src="https://i.ytimg.com/vi/lt0WQ8JzLz4/maxresdefault.jpg">
    <div class="userData">
      <img class="circle" src="http://www.davidbowie.com/sites/g/files/g2000002506/f/styles/large/public/201302/1973_sane_cvr_fix_800sq.jpg?itok=h-TUpMU9">
      <p class="username">Dizda13</p>
      <p class="email">ddizdarevi3@etf.unsa.ba</p>
    </div>
    <div>
    <button mat-button *ngFor="let sidebarItem of this.sidebarItems" class="sideBarItems" [routerLink]="'/'+sidebarItem.toLowerCase().replace(' ','-')">
      {{sidebarItem}}
    </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="text-align: center;">
    <mat-toolbar style="text-align:center; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); position: fixed; z-index: 1;">
      <button mat-button (click)="sidenav.toggle()" style="min-width:50px;padding:0%;">
        <mat-icon>reorder</mat-icon>
      </button>
      <h3 class="title">Naslov</h3>
      <img src="../assets/steleks-logo.png" style="width:55px; right:10px; position:absolute">
    </mat-toolbar>
   <!--<div style="padding: 3%; ">-->
    <div style="margin-top: 80px; ">
      <router-outlet style="position: absolute;"></router-outlet>
    </div>
    <!--</div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
