/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~prismjs/themes/prism.css';

body, html {
    height: 100%;
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

blockquote.dizda-quote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  font-family: Roboto, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  border-left: 15px solid #fea601;
  border-right: 2px solid #fea601;

  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote.dizda-quote::before {
  content: "\201C";

  font-family: Roboto, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  position: absolute;
  left: 10px;
  top:5px;
}

blockquote.dizda-quote::after{
  content: "";
}

blockquote.dizda-quote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}
