<mat-card [ngClass]="getStyle()" *ngIf="model" class="info-card">
  <slideshow [ngClass]="getStyle()" *ngIf="showSlideShow()" mat-card-image [imageUrls]="model.imgLinks" style="z-index: 50;"></slideshow>
	<img [ngClass]="getStyle()" *ngIf="showTopImage()" mat-card-image src="{{getSingleImage()}}" alt=""/>
	<mat-card-content [ngClass]="getStyle()">
	<img [ngClass]="getStyle()" *ngIf="showContentImage()" mat-card-image src="{{getSingleImage()}}" alt=""/>
	<div [ngClass]="getStyle()">
		<mat-card-title [ngClass]="getStyle()">{{model.title}}</mat-card-title>
      <markdown *ngIf="useMarkdown()" [data]="model.content" class="mat-card-content-text"></markdown>
			<p *ngIf="!useMarkdown()" [ngClass]="getStyle()" class="mat-card-content-text">
			{{model.content}}
			</p>
		<mat-card-actions [ngClass]="getStyle()" *ngIf="model.actions.length">
			<button mat-button *ngFor="let action of model.actions" (click)="action.onButtonClicked()">{{action.title}}</button>
		</mat-card-actions>
	</div>
	</mat-card-content>
</mat-card>
